<style>
.span4 img { width: 32px; height: 32px; padding: 20px;}
</style>
<div class="row-fluid">
	<div class="span4 one clickable" ng-click="">
		<a href="#/phrases-greeting">
			<div class="big-font"><img src="right.png"/>Greetings</div>
		</a>
	</div>
	<div class="span4 top-pad two clickable" ng-click="">
		<a href="#/phrases-shopping">
			<div class="big-font"><img src="right.png"/>Shopping</div>
		</a>
	</div>
	<div class="span4 top-pad one clickable" ng-click="">
		<div class="big-font"><img src="right.png"/>Dining</div>
	</div>
	<div class="span4 top-pad two clickable" ng-click="">
		<div class="big-font"><img src="right.png"/>Getting Around</div>
	</div>
	<div class="span4 top-pad one clickable" ng-click="">
		<div class="big-font"><img src="right.png"/>Numbers</div>
	</div>
</div>