<style>
img { width: 32px; height: 32px; padding: 20px;}
</style>
<div class="row-fluid">
	<div class="span4 one clickable" ng-click="">
		<img src="target.png"/><span class="big-font">Greeting</span>
	</div>
	<div class="span4 top-pad two clickable" ng-click="">
		<img src="target.png"/><span class="big-font">Shopping</span>
	</div>
	<div class="span4 top-pad one clickable" ng-click="">
		<img src="target.png"/><span class="big-font">Dining</span>
	</div>
	<div class="span4 top-pad two clickable" ng-click="">
		<img src="target.png"/><span class="big-font">Getting Around</span>
	</div>
	<div class="span4 top-pad one clickable" ng-click="">
		<img src="target.png"/><span class="big-font">Numbers</span>
	</div>
</div>